input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
}


/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

label{
    font-family: "Trebuchet MS";
    white-space: pre;
}

form{
    background-color: white;
    margin-left: 30%;
    margin-right:30%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

#cancel{
    color: white;
    background-color: #ff533d;
    padding: 10px 10px;
    border-style: none;
    border-radius: 5px;
    font-family: "Helvetica";
}

#signup{
    color: white;
    background-color: #0f1626;
    padding: 10px 10px;
    border-style: none;
    border-radius: 5px;
    font-family: "Helvetica";
}